<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../common/head %>
  </head>
  <body>
    
      <header>
        <% include ../common/header %>
    </header>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <footer>
        <% include ../common/footer %>
    </footer>
    
  </body>
</html>
